<div class="jumbotron text-center">
    <h1>Welcome to lejerSmart</h1>
    <h3>The essential filing  and sharing system for all your Documents</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">lejerSmart Free</h2>
            <h4 class="text-center">Create your Free lejerSmart Account for all your financial documents.</h4>
            <br/>
            <%= link_to "Let's do it.", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
        </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">lejerCare</h2>
            <h4 class="text-center">Access & Manage multiple lejerSmart accounts.</h4>
            <br/>
            <%= link_to "Let's do this.", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>